1. Explain the key features of Python that make it a popular choice for programming.

Python has gained immense popularity in programming due to several key features:

1. **Simplicity and Readability**: Pythonâ€™s syntax is clear and easy to understand, which makes it an excellent choice for beginners. The use of indentation to define code blocks enhances readability.

2. **Versatile and Flexible**: Python can be used for a variety of applications, including web development, data analysis, artificial intelligence, scientific computing, and automation. Its versatility allows developers to work on diverse projects without needing to learn a completely new language.

3. **Extensive Libraries and Frameworks**: Python has a rich ecosystem of libraries and frameworks, such as NumPy, pandas, Django, Flask, and TensorFlow, which provide pre-built functionalities and accelerate development.

4. **Strong Community Support**: Python has a large and active community, offering abundant resources, tutorials, and forums. This support makes it easier to find solutions to problems and share knowledge.

5. **Cross-Platform Compatibility**: Python is platform-independent, meaning code written on one operating system can easily run on another without modification. This flexibility is valuable for developers working in diverse environments.

6. **Dynamic Typing**: Python uses dynamic typing, allowing developers to write code without specifying variable types. This feature can speed up development but requires careful management to avoid runtime errors.

7. **Interpreted Language**: Python is an interpreted language, which means code can be executed line by line. This feature simplifies debugging and allows for rapid prototyping and testing.

8. **Object-Oriented and Functional Programming**: Python supports both object-oriented and functional programming paradigms, giving developers the flexibility to choose the best approach for their projects.

9. **Easy Integration**: Python can easily integrate with other languages like C, C++, and Java, allowing developers to leverage existing codebases and libraries.

10. **Growing Demand in Industry**: As fields like data science, machine learning, and web development continue to expand, Python's relevance in the job market further enhances its popularity.

These features collectively make Python a powerful and user-friendly choice for a wide range of programming tasks.

2. Describe the role of predefined keywords in Python and provide examples of how they are used in a program.

Predefined keywords in Python are reserved words that have special meanings and cannot be used as identifiers (e.g., variable names, function names). These keywords define the structure and syntax of the language, allowing developers to perform various programming tasks. There are 35 keywords in Python, and they cover various aspects of programming such as control flow, data types, function definitions, and more.

### Key Roles of Keywords

1. **Control Flow**: Keywords like `if`, `elif`, `else`, `for`, `while`, and `break` control the flow of execution in a program.

2. **Function Definition**: Keywords such as `def` and `return` are used to define functions and return values from them.

3. **Data Type Definitions**: Keywords like `class` and `import` allow for defining classes and importing modules, respectively.

4. **Exception Handling**: Keywords such as `try`, `except`, `finally`, and `raise` are used for managing exceptions.

5. **Boolean Values**: The keywords `True`, `False`, and `None` represent boolean values and the absence of a value.

In [1]:
# Function to check if a number is even or odd
def check_even_odd(number):
    if number % 2 == 0:  # 'if' is a control flow keyword
        return True      # 'return' is used to return a value from a function
    else:                # 'else' provides an alternative path
        return False

# Using a loop to check numbers from 1 to 10
for i in range(1, 11):  # 'for' initiates a loop
    if check_even_odd(i):  # Calling the function defined above
        print(f"{i} is even")  # Using 'print' to output a message
    else:
        print(f"{i} is odd")   # 'else' used again for conditional logic

# Exception handling
try:
    result = 10 / 0  # This will raise a ZeroDivisionError
except ZeroDivisionError:  # 'except' handles specific exceptions
    print("You can't divide by zero!")  # Message when an exception occurs
finally:
    print("Execution completed.")  # 'finally' executes regardless of exceptions

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even
You can't divide by zero!
Execution completed.

Summary of Keywords Used
Control Flow: if, else, for

Function Definition: def, return

Exception Handling: try, except, finally

Boolean Values: True, False

3. Compare and contrast mutable and immutable objects in Python with examples.

In Python, objects can be classified as mutable or immutable based on whether their state (i.e., their value or content) can be changed after they are created.

Mutable Objects
Definition: Mutable objects are those whose state or content can be changed after they are created. This means you can modify the object without creating a new one.

Examples of Mutable Objects:

Lists
Dictionaries
Sets

In [2]:
# Mutable example with a list
my_list = [1, 2, 3]
print("Original list:", my_list)

# Modifying the list
my_list.append(4)  # Adds an element
print("Modified list:", my_list)  # Output: [1, 2, 3, 4]

# Modifying an element
my_list[0] = 10  # Changes the first element
print("Updated list:", my_list)  # Output: [10, 2, 3, 4]

Original list: [1, 2, 3]
Modified list: [1, 2, 3, 4]
Updated list: [10, 2, 3, 4]

Immutable Objects
Definition: Immutable objects are those whose state or content cannot be changed after they are created. Any modification results in the creation of a new object.

Examples of Immutable Objects:

Tuples
Strings
Frozensets

In [3]:
# Immutable example with a tuple
my_tuple = (1, 2, 3)
print("Original tuple:", my_tuple)

# Attempting to modify the tuple (will raise an error)
# my_tuple[0] = 10  # This line would raise a TypeError

# Instead, creating a new tuple
new_tuple = my_tuple + (4,)  # Concatenates to create a new tuple
print("New tuple:", new_tuple)  # Output: (1, 2, 3, 4)

Original tuple: (1, 2, 3)
New tuple: (1, 2, 3, 4)

4. Discuss the different types of operators in Python and provide examples of how they are used.

In Python, operators are special symbols used to perform operations on variables and values. Python supports various types of operators, each serving a distinct purpose. Hereâ€™s an overview of the different types of operators and examples of how they are used:

1. Arithmetic Operators
These operators are used to perform basic mathematical operations.

Addition (+): Adds two operands.
Subtraction (-): Subtracts the second operand from the first.
Multiplication (*): Multiplies two operands.
Division (/): Divides the first operand by the second (result is a float).
Floor Division (//): Divides and returns the largest integer less than or equal to the result.
Modulus (%): Returns the remainder of a division.
Exponentiation (**): Raises the first operand to the power of the second.

In [4]:
a = 10
b = 3

print("Addition:", a + b)
print("Subtraction:", a - b)
print("Multiplication:", a * b)
print("Division:", a / b)
print("Floor Division:", a // b)
print("Modulus:", a % b)
print("Exponentiation:", a ** b)

Addition: 13
Subtraction: 7
Multiplication: 30
Division: 3.3333333333333335
Floor Division: 3
Modulus: 1
Exponentiation: 1000

2. Comparison Operators
These operators are used to compare two values and return a boolean result (True or False).

Equal to (==): Checks if two values are equal.

Not equal to (!=): Checks if two values are not equal.

Greater than (>): Checks if the left operand is greater than the right.

Less than (<): Checks if the left operand is less than the right.

Greater than or equal to (>=): Checks if the left operand is greater than or equal to the right.

Less than or equal to (<=): Checks if the left operand is less than or equal to the right.

In [5]:
x = 5
y = 10

print("Equal to:", x == y)
print("Not equal to:", x != y)
print("Greater than:", x > y)
print("Less than:", x < y)
print("Greater than or equal to:", x >= y)
print("Less than or equal to:", x <= y)

Equal to: False
Not equal to: True
Greater than: False
Less than: True
Greater than or equal to: False
Less than or equal to: True

3. Logical Operators
Logical operators are used to combine conditional statements.

Logical AND (and): Returns True if both operands are true.

Logical OR (or): Returns True if at least one operand is true.

Logical NOT (not): Reverses the logical state of its operand.

In [6]:
a = True
b = False

print("AND:", a and b)
print("OR:", a or b)
print("NOT:", not a)

AND: False
OR: True
NOT: False

4. Bitwise Operators
Bitwise operators perform operations on binary representations of integers.

AND (&): Bitwise AND.

OR (|): Bitwise OR.

XOR (^): Bitwise XOR.

NOT (~): Bitwise NOT.

Left Shift (<<): Shifts bits to the left.

Right Shift (>>): Shifts bits to the right.

In [7]:
a = 5  # (binary: 0101)
b = 3  # (binary: 0011)

print("AND:", a & b)
print("OR:", a | b)
print("XOR:", a ^ b)
print("NOT:", ~a)
print("Left Shift:", a << 1)
print("Right Shift:", a >> 1)

AND: 1
OR: 7
XOR: 6
NOT: -6
Left Shift: 10
Right Shift: 2

5. Assignment Operators
Assignment operators are used to assign values to variables.

Assignment (=): Assigns the right operandâ€™s value to the left operand.

Add and assign (+=): Adds and assigns.

Subtract and assign (-=): Subtracts and assigns.

Multiply and assign (*=): Multiplies and assigns.

Divide and assign (/=): Divides and assigns.

Floor divide and assign (//=): Floor divides and assigns.

Modulus and assign (%=): Modulus and assigns.

Exponentiate and assign (**=): Exponentiates and assigns.

In [8]:
num = 10
num += 5
print("After += :", num)

num -= 3
print("After -= :", num)

num *= 2
print("After *= :", num)

num /= 4
print("After /= :", num)

After += : 15
After -= : 12
After *= : 24
After /= : 6.0

6. Identity Operators
Identity operators are used to compare the memory location of two objects.

Is (is): Returns True if both operands refer to the same object.

Is not (is not): Returns True if both operands do not refer to the same object.

In [9]:
a = [1, 2, 3]
b = a
c = a[:]

print("a is b:", a is b)
print("a is c:", a is c)
print("a is not c:", a is not c)

a is b: True
a is c: False
a is not c: True

7. Membership Operators
Membership operators are used to test if a value is a member of a sequence (like a list, tuple, or string).

In (in): Returns True if the value is found in the sequence.

Not in (not in): Returns True if the value is not found in the sequence.

In [10]:
my_list = [1, 2, 3, 4, 5]

print("3 in my_list:", 3 in my_list)
print("6 not in my_list:", 6 not in my_list)

3 in my_list: True
6 not in my_list: True

5. Explain the concept of type casting in Python with examples.


Type casting in Python refers to the conversion of one data type into another. This can be necessary when you want to perform operations involving different types, or when you need to ensure that a variable is of a specific type for a particular context. Python supports various built-in functions for type casting.

Common Type Casting Functions
int(): Converts a value to an integer.

float(): Converts a value to a floating-point number.

str(): Converts a value to a string.

list(): Converts an iterable (like a string or tuple) to a list.

tuple(): Converts an iterable to a tuple.

set(): Converts an iterable to a set.

Examples of Type Casting
1. Converting to Integer
You can convert a float or a string representation of a number to an integer using the int() function.

In [11]:
# From float to int
num_float = 10.75
num_int = int(num_float)
print("Integer value:", num_int)

# From string to int
num_str = "123"
num_int_from_str = int(num_str)
print("Integer from string:", num_int_from_str)

Integer value: 10
Integer from string: 123

2. Converting to Float
You can convert an integer or a string representation of a number to a float using the float() function.

In [12]:
# From int to float
num_int = 10
num_float = float(num_int)
print("Float value:", num_float)

# From string to float
num_str = "3.14"
num_float_from_str = float(num_str)
print("Float from string:", num_float_from_str)

Float value: 10.0
Float from string: 3.14

3. Converting to String
You can convert any data type to a string using the str() function.

In [13]:
# From int to string
num_int = 100
num_str = str(num_int)
print("String value:", num_str)

# From float to string
num_float = 99.99
num_str_from_float = str(num_float)
print("String from float:", num_str_from_float)

String value: 100
String from float: 99.99

4. Converting to List
You can convert a string, tuple, or other iterable to a list using the list() function.

In [14]:
# From string to list
my_string = "hello"
my_list = list(my_string)
print("List from string:", my_list)

# From tuple to list
my_tuple = (1, 2, 3)
my_list_from_tuple = list(my_tuple)
print("List from tuple:", my_list_from_tuple)

List from string: ['h', 'e', 'l', 'l', 'o']
List from tuple: [1, 2, 3]

5. Converting to Tuple
You can convert a list or another iterable to a tuple using the tuple() function.

In [15]:
# From list to tuple
my_list = [1, 2, 3]
my_tuple = tuple(my_list)
print("Tuple from list:", my_tuple)

Tuple from list: (1, 2, 3)

6. Converting to Set
You can convert a list or another iterable to a set using the set() function, which removes duplicates.

In [16]:
# From list to set
my_list = [1, 2, 2, 3, 4, 4]
my_set = set(my_list)
print("Set from list:", my_set)

Set from list: {1, 2, 3, 4}

6. How do conditional statements work in Python? Illustrate with examples.

Conditional statements in Python allow you to execute different blocks of code based on certain conditions. The primary conditional statements are if, elif (else if), and else. These statements evaluate expressions and execute corresponding blocks of code depending on whether the conditions are True or False.

Basic Structure
The basic structure of conditional statements in Python is as follows:

if condition:
    # Code block to execute if condition is True
elif another_condition:
    # Code block to execute if the previous condition was False and this one is True
else:
    # Code block to execute if all previous conditions are False

Example 1: Simple Conditional Statement

Hereâ€™s a simple example demonstrating the use of if, elif, and else:

In [17]:
# Check if a number is positive, negative, or zero
number = 10

if number > 0:
    print("The number is positive.")
elif number < 0:
    print("The number is negative.")
else:
    print("The number is zero.")

The number is positive.

Example 2: Multiple Conditions

You can also use logical operators (and, or, not) to combine multiple conditions.

In [18]:
# Check if a number is within a certain range
age = 25

if age < 18:
    print("You are a minor.")
elif age >= 18 and age < 65:
    print("You are an adult.")
else:
    print("You are a senior citizen.")

You are an adult.

Example 3: Nested Conditional Statements

You can nest conditional statements to create more complex logic.

In [19]:
# Nested condition example
score = 85

if score >= 60:
    print("You passed!")
    if score >= 90:
        print("Excellent!")
    elif score >= 75:
        print("Good job!")
else:
    print("You failed.")

You passed!
Good job!

Example 4: Using the pass Statement

In some cases, you might want to define a conditional block that does nothing. You can use the pass statement for this purpose.

In [20]:
# Example using pass
x = 10

if x > 0:
    pass  # Do nothing for now
else:
    print("x is not positive.")

Example 5: Conditional Expressions (Ternary Operator)

Python also supports a shorthand way to write simple conditional statements using conditional expressions (often referred to as the ternary operator).

In [21]:
# Ternary operator example
num = -5
result = "Positive" if num > 0 else "Negative or Zero"
print(result)

Negative or Zero

7. Describe the different types of loops in Python and their use cases with examples.

In Python, loops are used to execute a block of code repeatedly as long as a specified condition is met. The two primary types of loops are for loops and while loops. Each serves different use cases and can be utilized in various scenarios.

1. for Loops

The for loop is used to iterate over a sequence (like a list, tuple, dictionary, set, or string) or other iterable objects. It is useful when the number of iterations is known beforehand.

In [22]:
# Iterating over a list
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

2. while Loops

The while loop continues to execute a block of code as long as a specified condition is True. It is useful when the number of iterations is not known in advance and depends on a condition.

In [23]:
# Using a while loop to count down
count = 5
while count > 0:
    print(count)
    count -= 1

5
4
3
2
1

3. Loop Control Statements

Python also provides control statements that can alter the flow of loops:

break: Exits the loop immediately.

continue: Skips the current iteration and continues with the next one.

pass: Does nothing; itâ€™s a placeholder.

In [24]:
# Using break to exit a loop
for num in range(10):
    if num == 5:
        break  # Exit the loop when num is 5
    print(num)

0
1
2
3
4

4. Nested Loops

You can also use loops inside other loops, known as nested loops. This is useful for dealing with multi-dimensional data structures, like lists of lists.

In [25]:
# Nested loop example
for i in range(3):
    for j in range(2):
        print(f"i={i}, j={j}")

i=0, j=0
i=0, j=1
i=1, j=0
i=1, j=1
i=2, j=0
i=2, j=1